In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
dat = pd.read_csv("tot.csv")
print(dat.shape)
dat.head()

FileNotFoundError: [Errno 2] No such file or directory: 'tot.csv'

In [72]:
int_cat={'A':1, 'B':2, 'C':3, 'D':4, 'E':5, 'F':6, 'G':7, 'H':8}
dat["category"]=dat["category"].map(int_cat)

dat=dat[dat.views!="F"]
dat=dat[dat.likes!="F"]
dat=dat[dat.dislikes!="F"]
dat=dat[dat.comment!="F"]

dat["views"]=pd.to_numeric(dat["views"])
dat["likes"]=pd.to_numeric(dat["likes"])
dat["dislikes"]=pd.to_numeric(dat["dislikes"])
dat["comment"]=pd.to_numeric(dat["comment"])
print(dat.shape)
dat.dtypes

(30, 8)

vidid        object
views         int64
likes         int64
dislikes      int64
comment       int64
published    object
duration     object
category      int64
dtype: object

In [73]:
#also u can use .isnull().any() 
print(dat.isna().any())
dat["published"]=LabelEncoder().fit_transform(dat["published"])
print(dat.dtypes)
dat.head()

vidid        False
views        False
likes        False
dislikes     False
comment      False
published    False
duration     False
category     False
dtype: bool
vidid        object
views         int64
likes         int64
dislikes      int64
comment       int64
published     int32
duration     object
category      int64
dtype: object

       vidid    views  likes  dislikes  comment  published duration  category
0   VID_1034   137593   1693        82      510         25   PT3M1S         2
1   VID_9847     1320      3         1        1          0  PT5M47S         4
2   VID_1038  2395325  22173       945     1438         24  PT8M55S         2
3   VID_5975     4019      6         0        0         14  PT1M17S         4
4  VID_13924    25075    219         1       15          2  PT12M7S         4

In [74]:
import time
import datetime

def checki(x):
    y = x[2:]
    h = ''
    m = ''
    s = ''
    mm = ''
    P = ['H','M','S']
    for i in y:
        if i not in P:
            mm+=i
        else:
            if(i=="H"):
                h = mm
                mm = ''
            elif(i == "M"):
                m = mm
                mm = ''
            else:
                s = mm
                mm = ''
    if(h==''):
        h = '00'
    if(m == ''):
        m = '00'
    if(s==''):
        s='00'
    bp = h+':'+m+':'+s
    return bp

def func_sec(time_string):
    h, m, s = time_string.split(':')
    return int(h) * 3600 + int(m) * 60 + int(s)


time = (dat["duration"].apply(checki)).apply(func_sec)
dat["duration"]=time
dat.head()

       vidid    views  likes  dislikes  comment  published  duration  category
0   VID_1034   137593   1693        82      510         25       181         2
1   VID_9847     1320      3         1        1          0       347         4
2   VID_1038  2395325  22173       945     1438         24       535         2
3   VID_5975     4019      6         0        0         14        77         4
4  VID_13924    25075    219         1       15          2       727         4

In [75]:
dat= dat.drop(["vidid"],axis=1)

In [76]:
dat.head()

     views  likes  dislikes  comment  published  duration  category
0   137593   1693        82      510         25       181         2
1     1320      3         1        1          0       347         4
2  2395325  22173       945     1438         24       535         2
3     4019      6         0        0         14        77         4
4    25075    219         1       15          2       727         4

In [83]:
from sklearn.preprocessing import MinMaxScaler
X = MinMaxScaler().fit_transform(dat)

In [8]:
import joblib

In [9]:
modl1=joblib.load("linearregression_youtubeadview.pkl")

In [10]:
model=joblib.load("suport_vector_regression_youtubeadview.pkl")

In [84]:
Y=model.predict(X)
Y1=modl1.predict(X)

In [87]:
Y=Y.reshape(30,1)
print(Y)

[[ 3.09695129]
 [ 1.94729752]
 [ 9.58592471]
 [ 1.88051069]
 [ 1.91920344]
 [ 4.25147956]
 [ 1.89127485]
 [ 5.20282915]
 [ 2.33804866]
 [ 8.98867046]
 [ 4.99603658]
 [10.0171554 ]
 [ 6.94131859]
 [ 1.97444618]
 [ 1.89576207]
 [ 1.73326905]
 [ 6.15841621]
 [ 1.68439296]
 [ 4.31046598]
 [ 1.8811263 ]
 [ 4.07326135]
 [ 2.80977428]
 [ 1.88129693]
 [ 3.2561587 ]
 [ 1.88588922]
 [ 3.47195075]
 [ 3.90525237]
 [10.22949806]
 [ 1.89331994]
 [ 2.71569714]]

In [24]:
dat1=pd.DataFrame(Y,columns=["Adview_predict_svrm"])
dat2=pd.DataFrame(Y1,columns=["Adview_predict_lrm"])

In [25]:
dat1.to_csv("PredictedAdview_svrm.csv",index=False)
dat2.to_csv("PredictedAdview_lrm.csv",index=False)

In [89]:
df=pd.read_csv("adtot.csv")
z1=df.to_numpy()
print(Y-z1)

[[ 2.09695129e+00]
 [-3.05270248e+00]
 [ 7.58592471e+00]
 [ 8.80510691e-01]
 [ 9.19203439e-01]
 [-7.74852044e+00]
 [-1.10872515e+00]
 [-3.37971708e+01]
 [-3.66195134e+00]
 [ 6.98867046e+00]
 [ 3.99603658e+00]
 [-2.98284460e+00]
 [-9.05868141e+00]
 [ 9.74446181e-01]
 [ 8.95762071e-01]
 [-1.26673095e+00]
 [ 5.15841621e+00]
 [-3.15607044e-01]
 [-7.68953402e+00]
 [-1.11887370e+00]
 [-7.39267386e+01]
 [ 1.80977428e+00]
 [-1.18703065e-01]
 [ 2.25615870e+00]
 [-1.09951141e+04]
 [ 1.47195075e+00]
 [-2.09474763e+00]
 [-9.67705019e+01]
 [-1.06680059e-01]
 [-1.02843029e+01]]

In [69]:
df.head(30)

    adview
0        1
1        5
2        2
3        1
4        1
5       12
6        3
7       39
8        6
9        2
10       1
11      13
12      16
13       1
14       1
15       3
16       1
17       2
18      12
19       3
20      78
21       1
22       2
23       1
24   10997
25       2
26       6
27     107
28       2
29      13

In [68]:
print(model.score(X,df))

-0.03631462301185007